﻿@page
@model Chatapp.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="auth-container d-flex flex-column justify-content-center align-items-center min-vh-100">
<div class="card" style="max-width: 400px;">
    <div class="card-body">
        <h4>Create a new account.</h4>
        <form method="post" class="row g-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                    <label asp-for="Input.UserName" class="form-label">UserName</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="col-12">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-12">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                    <label asp-for="Input.ConfirmPassword" class="form-label">ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
            <div class="col-12 mt-3">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
